* {
	padding: 0;
	margin: 0;
}

body {
	padding: 20px;
}

.item {
	background-color: gold;
	border: 1px solid gray;
	min-height: 50px;
}

.container {
    height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* grid-template-columns: repeat(3, 1fr 2fr);  */
	/* fraction: độ dài tương đối */
	/* grid-template-columns: 200px 2fr 1fr; */
	grid-template-rows: 100px 1fr 1fr 100px; 
	/* Giá trị width từng cột*/
	/* gap: 10px;  */
	/* grid-template-rows: 100px 200px 300px;  */
	/* Giá trị height từng hàng: Chiều cao k lấy theo item mà lấy theo giá trị đang được setting*/
	/* grid-auto-rows: 200px;  */
	/* tự động set height rows */
	grid-auto-rows: minmax(60px, auto); /* tạo layout flexible: rows height dựa vào content */
	grid-template-areas:
		"header header header"
		"sidebar content content"
		"sidebar comment comment"
        "footer footer footer";
    column-gap: 10px; /* khoang cach 10px giua cac column */
    row-gap: 10px; /* khoang cach 10px giua cac row */

}
.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: sidebar;
}

.item-3 {
    grid-area: content;
}

.item-5 {
	/* grid-column-start: 2;
    grid-column-start: 5;

    grid-row-start: 2;
    grid-row-start: 5; */

	/* grid-column: 2 / 4;  */
    /* bắt đầu từ 2 và dùng 4 theo line column */
	/* grid-row: 2 / 4;  */
    /* bắt đầu 2 và dùng 4 theo line row */
    grid-area: footer;
}

.item-4 {
	/* grid-row: 2 / 5;  */
    /* bắt đầu 2 và dùng 5 theo line row */
    grid-area: comment;
}
